*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background: linear-gradient(135deg,#000000,#140014,#330033);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.container{
    width:100%;
    max-width:500px;
    padding:20px;
}

.card{
    width:100%;
    background: rgba(255,255,255,0.06);
    padding:30px;
    border-radius:20px;
    backdrop-filter: blur(15px);
    box-shadow:0 0 25px rgba(255,0,150,0.3);
    animation:fade 0.6s ease;
}

input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
    margin-top:15px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:25px;
    background:linear-gradient(45deg,#ff007f,#ff4da6);
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}

.hidden{
    display:none;
}

.slider{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    margin-top:20px;
}

.slider img{
    width:260px;
    height:330px;
    object-fit:cover;
    border-radius:15px;
}

.nextBtn{
    margin-top:25px;
}

@keyframes fade{
    from{opacity:0;transform:scale(0.9);}
    to{opacity:1;}
}
